# Project-specific Python environment
.venv/

# Python-generated cache files
__pycache__/
*.py[cod]

# Django-generated local files
db.sqlite3
staticfiles/

# Environment variables and secrets
.env

# Test and coverage files
.coverage
htmlcov/
.pytest_cache/